
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*/venv/
*/env/

# Django
*.sqlite3
*.log
backend/media/
staticfiles/
static/


frontend-react/node_modules/
frontend-react/build/
frontend-react/.env
frontend-react/.DS_Store


pyqt-desktop/__pycache__/
pyqt-desktop/venv/
pyqt-desktop/*.pyc


.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
